.footer {
  background-color: $color-grey-dark-3;
  padding: 2rem;
  font-size: 1.6rem;
  color: $color-grey-dark-2;
  text-align: center;
  &__title {
    font-size: 1.8rem;
    text-transform: uppercase;
  }
  &__details {
    padding: 2rem;
  }
}