//color
$color-primary: #633e19;
$color-primary-light: 	#b78654;
$color-primary-dark: 	#633e19;

$color-secondary-light: #ffb900;
$color-secondary-dark: #ff7730;

$color-tertiary-light: #2998ff;
$color-tertiary-dark: #5643fa;

$color-header-light: #f7f7f7;
$color-header-dark: #e6fce7;

$color-grey-light-1: #f7f7f7;
$color-grey-light-2: #eee;
$color-grey-light-3: #EAE9E9;
$color-grey-light-4: #DFDDC7;

$color-grey-dark: #777;
$color-grey-dark-2: #999;
$color-grey-dark-3: #333;

$color-white: #fff;
$color-black: #000;

$color-primary-background: #f3f7f8;
$color-secondary-background: #272727;

//grid
$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-horizontal: 6rem;
$gutter-vertical-small: 6rem;
//font
$default-font-size: 1.6rem;

//form
$form-width: 50rem;