*,
x::after,
x::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  // this define what 1rem is
  font-size: 62.5%;
  @include respond(tab-land) { // width < 1200?
    font-size: 56.25%; //1 rem = 9px, 9/16 = 50%
  }

  @include respond(tab-port) { // width < 900?
      font-size: 50%; //1 rem = 8px, 8/16 = 50%
  }

  @include respond(big-desktop) {
      font-size: 75%; //1rem = 12, 12/16
  }
}

body {
  background: $color-primary-background;
  font-weight: 500;
  font-size: 16px;
  box-sizing: border-box;
  overflow-x: hidden;
}
button, a {
  outline: none !important;
  color: $color-primary-dark;
  text-decoration: none !important;
}
img{
  image-rendering: auto;
  max-width: 100%;
}
p {
  font-size: 1.3rem;
  color: $color-grey-dark;
}
.h1,.h2,.h3,.h4,.h5,.h6,h1,h2,h3,h4,h5,h6 {
  color: $color-grey-dark;
}
input, select { font-size: 100%; }